<div class="container-fluid mt-3 mb-3">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header bg-primary text-white p-2">
          <h4>Search user</h4>
        </div>
        <div class="card-body">
          <form class="form-inline" (submit)="searchUser()">
            <div class="form-group">
              <input [(ngModel)]="searchQuery" name="user" size="40" type="search" class="form-control"
                placeholder="twitter user">
            </div>
            <div>
              <input type="submit" value="Search" class="btn btn-primary btn-md ml-5">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <app-users-list [usersList]="usersList"></app-users-list>
    </div>
  </div>
  <!-- <div class="row">
    <div class="col">
      <app-user-tweets></app-user-tweets>
    </div>
  </div> -->
</div>
