<div *ngIf="usersList" class="card">
  <div class="card-header">
    <h4>Users found</h4>
  </div>
  <div class="card-body">
    <div class="row" *ngFor="let user of usersList" routerLink="/user/{{ user.screen_name }}"
      >
      <div class="col-sm-3"> <span><img [src]="user.profile_image_url_https" alt="" class="rounded-circle">
          {{user.name}}</span></div>
      <div class="col-sm-3"> <span class="badge badge-primary mr-3">
          {{ user.followers_count | shortNumber }} Followers
        </span></div>
      <div class="col-sm-3"> <span class="badge badge-success"> {{ user.location }} </span></div>
      <div class="col-sm-3"><a class="text-primary font-weight-bold"
          routerLink="/user/{{ user.screen_name }}">{{user.screen_name}}</a></div>
    </div>
  </div>
</div>